.popup-outr{
    height: 100vh;
    width: 100vw;
    background-color: rgb(69, 65, 65,0.8);
    position:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.popup{
    border-radius: 15px;
    box-shadow:10px 100px  100px gray;
}

.hidden{
    display: none;
}

.ist-row{
    position: relative;
}

.x-btn{
    position: absolute;
    top: 20px;
    right: 40px;
}

.float-btn-login{
    z-index: 6;
    padding: 10px;
    width:fit-content;
    position:fixed;
    top: 220px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    @media screen and (max-width:768px) {
        right: 0px;
        top:70px;
        height: 140px;
        width: 130px;
    }

}

.float-btn-signup{
    z-index: 6;
    padding: 10px;
    width:fit-content;
    position:fixed;
    top: 150px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    @media screen and (max-width:768px) {
        right: 0px;
        top:70px;
        height: 140px;
        width: 130px;
    }

}
.popup-input{
    outline: none;
    height: 50px;
    width: 400px;
    @media screen and (max-width:768px) {
        width: 80%;
    }
}