
  
  .header-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    @media screen and (max-width:320px) {
    flex-wrap: wrap;
    }
    @media screen and (min-width:321px) and (max-width:425px) {
      flex-wrap: wrap;
    }
  }
  .heading2 {
    padding-top: 50px;
    margin-left: 20px;
    font-size: 40px;
    text-align: left;
    font-family: Inter;
    font-weight: 800;
    line-height: 130%;
    text-transform: inherit;
    color: #0c090d;
  }

  
  .paragraph {
    color: #2a3c4d;
    margin-top: 60px;
     margin-left: 10px;
    font-size: 24px;
    line-break: 150%;
    text-align: left;
    text-transform: inherit;
    color: #0c090d;
    opacity: .6;
    
  }
  
  .button-peer {
    margin-top: 40px;
   margin-left: 10px;
    margin-bottom: 20px;
    width: 270px;
    height: 50px;
    border-radius: 30px;
    background: linear-gradient(320.03deg,#f4d251 6.34% ,#ffeba0 93.17%);
    border-color: 0px solid #ff000000 !important;
    border: none;
    color:#0c090d;
  }
  
  .button-Support{
    margin-left:10px;
    width:270px;
    height: 50px;
    border-radius: 40px;
    
    border: 1px solid black;
    color: black;
    font-weight: 800;
    vertical-align: middle;
    font-size: 14px;
    line-height: 17px;
    gap: 20px;

  }
  .home-img   { 
    margin-top: 20px;
    background-image: url('../../Assests/Header-image.png');
    height:300px ;
    width: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    @media screen and (max-width:320px) {
    width: 280px;
    height: 300px;
    
    
    }
    
     @media screen and (min-width:321px) and (max-width:425px) {
      width: 800px;
      height:200px;
    }
  
  
}
