.menu-icon{
    font-size: 170%;
    width: 40px;
}

.hide-icon{
    display: none;
}

.icon-show{
    display: inline-block;
}

.m-navbar{
    display: none;
    position: relative;
    padding:0px 30px;
    height: 70px;
    border-bottom:1px solid black ;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
    background-color:rgb(235, 238, 241);
    @media screen and (max-width:768px) {
        display: flex;
    }
}

.m-nav-heading{
    font-size: 200%;
    font-weight: 900;
}

.sidebar-hidden{
    display: none;
}
.sidebar-show{
    display: inline-block;
    padding: 50px 30px;
    width: 90%;
    /* height: 100vh; */
    background-color: aliceblue;
    position: absolute;
    top: 70px;
    left: 0px;
    
}
.sidebar-item{
    /* height: fit-content; */
    
   
    width: 100%;
    padding: 15px 8px;
    font-size: 20px;
    /* position: relative  ; */
    cursor: default;
}

.sidebar-item-flex{
    display: flex;
    justify-content: space-between;
}
.m-down-arrow{
    display: flex;
    align-items: center;
    font-size: 16px;
}

.sub-sidebar-show{
    width: 100%;
    display: inline-block;
    position: relative;
    left: 10px;
    background-color: aliceblue;
}

.s-item{
    font-size: 15px;
}