.container
{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: rgb(210, 208, 208);
}
.sub-container-1
{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 2rem;

}

@media screen  and (max-width : 475px){
    .sub-container-1
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .first-1
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: flex-start;
    }

    .second-2
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sub-container-2
    {

        display: flex;
        flex-direction: column;
    }
    
}

.first-1
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: flex-start;
    width: 42%;
    gap: none;
    /* width: 33%; */
    padding-right:5rem ;

}

.first-1 span{
    color: yellow;
}

.first-1 input
{
    padding: .5rem;
}
.second-2
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start ;
    gap: none;
    /* width: 33%; */
    padding-right:5rem ;
    cursor: pointer;

}

.third-3
{
    display: flex;
    align-items: center;
    justify-content: center ;
    flex-direction: column;
    gap: none;
    /* width: 33%; */
    padding-right:2rem ;

}


.second-2 ul 
{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center ;
    gap: .8rem  ;
    font-size: 18px;

    
}

.second-2 ul :hover
{
    border-bottom: 1px solid white;
}
.third-3 ul :hover
{
    border-bottom: 1px solid white;
}
.third-3 ul
{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: .8rem  ;
    font-size: 18px;
    
}
.sub-container-2
{
    border-top: 1px solid white;
    display: flex;
    align-items: center ;
    justify-content: space-between;
    padding: .9rem;
}

.sub-container-2  img{
    width: 5rem;
}

.sub-container-2 select{
    width: 2rem;
    height: 2rem;
}